<div class="row m-0" style="height: 100%; width: 100%;">
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
  <div class="col-2 p-0 tec">
    <img alt="enterprise" src="assets/icon/main/logo-pa.svg" height="100%" width="100%">
  </div>
</div>
