.sidebar
  height: 100%
  overflow: auto
  position: fixed

.sidebar::-webkit-scrollbar
  display: none

.sidebar
  -ms-overflow-style: none
  scrollbar-width: none

// .content
//   scroll-snap-type: y mandatory
//   overflow-y: scroll

// .section
//   scroll-snap-align: start


