<div class="col-12 px-0 text-center themed-grid-col h-100 text-background"></div>
<div class="col-12 px-0 text-center themed-grid-col h-100 d-flex align-items-center justify-content-center text-space">
  <div class="px-0 text-center themed-grid-col h-100 img-text-box"></div>
  <div class="px-0 text-center themed-grid-col h-100 text-box">

    <div class="row row-back p-0 m-4 mt-0 mb-0 d-flex align-items-center justify-content-center">
      <div class="col-6 arrow d-flex align-items-center justify-content-start cero">
        <img *ngIf="(selectedPage$ | async)?.subPage != (selectedPage$ | async)?.subPageItem" alt="{{(selectedPage$ | async)?.subPage}}.svg" title="{{(selectedPage$ | async)?.subPage}}" src="assets/icon/{{(selectedPage$ | async)?.page}}/{{(selectedPage$ | async)?.subPage}}.svg">
        <img class="ms-4" alt="{{(selectedPage$ | async)?.subPageItem}}.svg" title="{{(selectedPage$ | async)?.subPageItem}}" src="assets/icon/{{(selectedPage$ | async)?.page}}/{{(selectedPage$ | async)?.subPageItem}}.svg">
      </div>
      <div class="col-6 arrow d-flex align-items-center justify-content-end cero opacity-animation">
        <img class="pointer" alt="close.svg" title="close" src="assets/icon/general/close.svg"  (click)="close()">
      </div>
    </div>

    <div *ngIf="this.whitOutInfo" class="position-relative overflow-hidden p-4 m-3 mt-0 pt-0 mb-0 pb-0 text-center bg-transparent">
      <div class="mx-auto">
        <h1 class="display-4 fw-normal">Sin Información</h1>
      </div>
    </div>

    <div *ngIf="!this.whitOutInfo" class="position-relative overflow-hidden p-4 m-3 mt-0 pt-0 mb-0 pb-0 text-center bg-transparent">
      <div class="mx-auto">
        <h1 class="display-4 fw-normal">{{info.title}}</h1>
        <h2 class="display-8 fw-normal">{{info.position}} ({{info.date}})</h2>
        <hr>
        <p class="lead fw-normal text-start" *ngFor="let item of info.description">{{item}}</p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div *ngIf="!this.whitOutInfo && !info.sub" class="d-md-flex p-4 m-3 mt-0 pt-0 mb-0 pb-0 w-100">
      <div class="row w-100">
        <div class="col-12 bg-transparent p-2 pt-0 pb-0 text-center overflow-hidden" style="border-radius: 21px 0 0 0;">
          <div class="p-1">
            <p class="lead fw-normal text-start">Tareas:</p>
              <p class="text-start ps-5" *ngFor="let item of info.tasks">•  {{item}}</p>
          </div>
        </div>
        <div class="col-12 bg-transparent p-1 pb-0 text-center overflow-hidden d-flex align-items-center justify-content-center">
          <div class="ps-0 ps-lg-3 d-flex align-items-center justify-content-center expand-animation move">
            <img class="pointer arrow-w" alt="atras.svg" title="atras" src="assets/icon/general/arrow-left.svg" (click)="arrowClick(-1)">
          </div>
          <div class="bg-transparent shadow-sm mx-auto d-flex align-items-center justify-content-center">
            <img alt="logo.svg" title="logo" src="assets/img/{{(selectedPage$ | async)?.page}}/{{info.id}}{{imageNum}}.jpg" width="100%">
          </div>
          <div class="pe-0 pe-lg-3 d-flex align-items-center justify-content-center expand-animation move">
            <img class="pointer arrow-w" alt="atras.svg" title="atras" src="assets/icon/general/arrow-right.svg" (click)="arrowClick(1)">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!this.whitOutInfo && info.sub" class="d-md-flex p-4 m-3 mt-0 pt-0 mb-0 pb-0">
      <div class="bg-dark p-1 pb-0 text-center text-white overflow-hidden w-50" style="border-radius: 21px 0 0 0;">
        <div class="p-1">
          <h2 class="display-5">DATADIS</h2>
          <p>plataforma de datos de consumo eléctrico</p>
          <p class="lead text-start">Tareas:</p>
            <p class="text-start">•  Desarrollo de microservicios haciendo uso de Java Spring Boot</p>
            <p class="text-start">•  Gestión de contenedores haciendo uso de Docker</p>
            <p class="text-start">•  Creación y mantenimiento de diversos componentes para el front-end haciendo uso de Angular13</p>
        </div>
      </div>
      <div class="bg-light p-1 pb-0 text-center overflow-hidden d-flex align-items-center justify-content-center w-50" style="border-radius: 0 21px 0 0;">
        <div class="d-flex align-items-center justify-content-center expand-animation move">
          <img alt="atras.svg" title="atras" src="assets/icon/general/arrow-left.svg">
        </div>
        <div class="bg-dark shadow-sm mx-auto d-flex align-items-center justify-content-center" style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;">
          <img alt="logo.svg" title="logo" src="assets/img/experience/datadis1.png" width="100%">
        </div>
        <div class="d-flex align-items-center justify-content-center expand-animation move">
          <img alt="atras.svg" title="atras" src="assets/icon/general/arrow-right.svg">
        </div>
      </div>
    </div>

  </div>
</div>
