<div class="col-12 px-0 text-center themed-grid-col h-100 text-background"></div>
<div class="col-12 px-0 text-center themed-grid-col h-100 d-flex align-items-center justify-content-center text-space">
  <div class="col-12 px-0 text-center themed-grid-col h-100 img-text-box"></div>
  <div class="col-12 px-0 text-center themed-grid-col h-100 text-box">

    <div class="row row-back p-0 m-0 d-flex align-items-center justify-content-center">
      <div class="col-2 arrow d-flex align-items-center justify-content-center cero opacity-animation" (click)="backPag()">
        <img alt="atras.svg" title="atras" src="assets/icon/general/arrow-back.svg">
      </div>
      <div class="col-8"></div>
      <div class="col-2 arrow d-flex align-items-center justify-content-center cero">
        <img alt="logo.svg" title="logo" src="assets/icon/main/main.svg">
      </div>
    </div>

    <div class="position-relative overflow-hidden p-4 m-3 mt-0 pt-0 mb-0 pb-0 text-center bg-transparent">
      <div class="mx-auto">
        <h1 class="display-4 fw-normal">NTT DATA Europe & LATAM</h1>
        <h2 class="display-8 fw-normal">Desarrollador Full stack (Julio 2021 - presente)</h2>
        <p class="lead fw-normal">Empresa que brinda servicios de TI y consultoría de TI</p>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="d-md-flex p-4 m-3 mt-0 pt-0 mb-0 pb-0">
      <div class="bg-dark p-1 pb-0 text-center text-white overflow-hidden w-50" style="border-radius: 21px 0 0 0;">
        <div class="p-1">
          <h2 class="display-5">DATADIS</h2>
          <p>plataforma de datos de consumo eléctrico</p>
          <p class="lead text-start">Tareas:</p>
            <p class="text-start">•  Desarrollo de microservicios haciendo uso de Java Spring Boot</p>
            <p class="text-start">•  Gestión de contenedores haciendo uso de Docker</p>
            <p class="text-start">•  Creación y mantenimiento de diversos componentes para el front-end haciendo uso de Angular13</p>
        </div>
      </div>
      <div class="bg-light p-1 pb-0 text-center overflow-hidden d-flex align-items-center justify-content-center w-50" style="border-radius: 0 21px 0 0;">
        <div class="d-flex align-items-center justify-content-center expand-animation move">
          <img alt="atras.svg" title="atras" src="assets/icon/general/arrow-left.svg">
        </div>
        <div class="bg-dark shadow-sm mx-auto d-flex align-items-center justify-content-center" style="width: 80%; height: 300px; border-radius: 21px 21px 21px 21px;">
          <img alt="logo.svg" title="logo" src="assets/img/experience/datadis1.png" width="100%">
        </div>
        <div class="d-flex align-items-center justify-content-center expand-animation move">
          <img alt="atras.svg" title="atras" src="assets/icon/general/arrow-right.svg">
        </div>
      </div>
    </div>

    <div class="d-md-flex p-4 m-3 mt-0 pt-0 mb-0 pb-0">
      <div class="bg-light p-1 pb-0 text-center overflow-hidden w-50">
        <div class="p-1">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-dark p-1 pb-0 text-center text-white overflow-hidden w-50">
        <div class="p-1">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="d-md-flex p-4 m-3 mt-0 pt-0 ">
      <div class="bg-dark p-1 pb-0 text-center text-white overflow-hidden w-50" style="border-radius: 0 0 0 21px;">
        <div class="p-1">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light p-1 pb-0 text-center overflow-hidden w-50" style="border-radius: 0 0 21px 0;">
        <div class="p-1">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

  </div>
</div>
