<div class="row">
  <div class="col-2 bg-white text-center text-dark"> ICONO 1 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 2 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 3 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 4 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 5 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 6 </div>

  <div class="col-2 bg-white text-center text-dark"> ICONO 7 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 8 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 9 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 10 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 11 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 12 </div>

  <div class="col-2 bg-white text-center text-dark"> ICONO 12 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 14 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 15 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 16 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 17 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 18 </div>

  <div class="col-2 bg-white text-center text-dark"> ICONO 19 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 20 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 21 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 22 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 23 </div>
  <div class="col-2 bg-white text-center text-dark"> ICONO 24 </div>
</div>
<div class="row">
  <div class="col-12 bg-white text-center text-dark"> el wey con la pc </div>
</div>
