.decorations
  height: 50%
  width: 100%

.with-arrows
  height: 40%
  width: 100%

.worker
  height: 50%
  width: 100%

.tec
  height: 25%
  padding: 4px !important

.desk
  height: 100%
  width: 100%
  position: relative

.img
  position: absolute
  right: 0px
  bottom: 0px
  width: auto
  height: auto
  max-height: 100%
  padding-left: 4px !important

.pagination
  padding-top: 6px
  height: 10% !important

.pagination-text
  color: #e1e1e1
  height: 12vh
  font-size: 14vh

.opacity-animation
  animation: opacity 4s linear infinite alternate

.text-background
  position: relative
  margin-top: -90vh !important
  background-color: black
  opacity: 0.5
  height: 100%
  width: 100%

.text-space
  height: 100%
  position: relative
  margin-top: -90vh !important

.img-text-box
  width: 100%
  height: 100%

.arrow
  height: 100%
  padding: 4px !important
  img
    max-height: 100%
    max-width: 100%
    height: auto
    width: auto
    cursor: pointer
    animation: arrow-expand 1s linear infinite alternate

@keyframes arrow-expand
  0%
    transform: scale(1)
  10%
    transform: scale(1.1)
  20%
    transform: scale(1.2)
  30%
    transform: scale(1.3)
  40%
    transform: scale(1.4)
  50%
    transform: scale(1.5)
  60%
    transform: scale(1.4)
  70%
    transform: scale(1.3)
  80%
    transform: scale(1.2)
  90%
    transform: scale(1.1)
  100%
    transform: scale(1)

@keyframes opacity
  0%
    opacity: 0
  10%
    opacity: 0
  20%
    opacity: 0
  30%
    opacity: 1
  40%
    opacity: 1
  50%
    opacity: 1
  60%
    opacity: 1
  70%
    opacity: 1
  80%
    opacity: 0
  90%
    opacity: 0
  100%
    opacity: 0
