<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link text-white" aria-current="page">
        <img alt="enterprise" src="assets/icon/enterprises/nttdata.png" height="16">
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Dashboard
      </a>
    </li>
    <li class="list-unstyled">
      <button class="btn btn-toggle align-items-center rounded collapsed text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16"> Home
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="text-white rounded">Overview</a></li>
          <li><a href="#" class="text-white rounded">Updates</a></li>
          <li><a href="#" class="text-white rounded">Reports</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <img alt="enterprise" src="assets/icon/enterprises/enterprise.svg" width="16" height="16">
        Customers
      </a>
    </li>
  </ul>
</div>
